* {
  font-family: JetBrainsMono, monospace;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: #1d2021;
  margin: auto;
  padding: 0px;
  border-radius: 6px;
  border: 2px solid #ffffff;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #2f2f31;
}

#text {
  margin: 2px;
}